@using System.Globalization
@using WorkPanel.Models.PanelViewModels
@model PanelInfoSectionViewModel

<div class="row">
    <div class="col-md-3">
        <div>
            <h1>$<span style="font-weight: bold">@Model.TotalInvested.ToString("N0", new CultureInfo("en-US"))</span></h1>
        </div>
        <div>
            <h3>Total Invested</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <h1><span style="font-weight: bold">@Model.TotalShares.ToString("n0", new CultureInfo("en-US"))</span></h1>
        </div>
        <div>
            <h3>Total Shares</h3>
        </div>
    </div>
    <div class="col-md-3">
        @{
            var profit = Model.AssetsUnderManagement - Model.TotalInvested;
        }
        <div>
            <h1>$<span style="font-weight: bold">@(profit.ToString("n0", new CultureInfo("en-US")))</span></h1>
        </div>
        <div>
            @if (profit >= 0)
            {
                <h3>Profit</h3>
            }
            else
            {
                <h3>Loss</h3>
            }
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <h1>$<span style="font-weight: bold">@((Model.TotalShares != 0 ? Model.NetAssetValue : 0).ToString("n2", new CultureInfo("en-US")))</span></h1>
        </div>
        <div>
            <h3>Current Share Value</h3>
        </div>
    </div>
</div>