@using WorkPanel.Models.PortfolioViewModels
@model PortfolioViewModel
<div style="text-align: center;">
    <h4>Add an asset</h4>
</div>
<hr />
<div id="app" class="row">
    <div class="col-md-9" style="float: none; margin: 0 auto;">
        @*<form>*@
        

        <div class="form-group">          
            <input class="form-control" type="text" placeholder="Asset Name" list="currencies" v-model="currency" />
            <datalist id="currencies">
                @foreach (var currency in Model.Currencies)
                {
                    <option>@currency.Name</option>
                }
            </datalist>
            <span class="text-danger" v-if="errors.includes('currency')">Field is empty</span>
        </div>
        <div class="form-group">
            <div class="input-group date" id="datetimepicker1">
                <input id="datetimepicker" type="text" class="form-control" placeholder="Date (DD/MM/YYYY) and Time (HH:MM)" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span class="text-danger" v-if="errors.includes('date')">Field is empty</span>
        </div>
        <div class="form-group">                
            <input class="form-control" type="number" min="0" step="0.01" placeholder="Initial Quantity" v-model="quantity"/>
            <span class="text-danger" v-if="errors.includes('quantity')">Field is empty or below zero</span>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="number" class="form-control" min="0" step="0.01" placeholder="Initial Price" v-model="price"/>
                <span class="input-group-addon">
                    @if (Model.HasBtc)
                    {
                        <span v-bind:class="[isUSD ? notActiveClass : activeClass]" v-on:click="togglePrice">BTC</span>
                        <span v-bind:class="[isUSD ? activeClass : notActiveClass]" v-on:click="togglePrice">USD</span>
                    }
                    else
                    {        
                        <span v-bind:class="activeClass">USD</span>
                    }
                </span>
            </div>
            <span class="text-danger" v-if="errors.includes('price')">Field is empty or below zero</span>
        </div>
        <div class="form-group" style="text-align: center; margin-bottom: 0px">
            <input id="add-button" type="submit" value="Add" class="btn btn-default form-control" style="border-radius: 20px; width: 150px; background: whitesmoke;" v-on:click="add"/>
            <br />
            <span class="text-danger" v-if="errors.includes('not-enough')">Not enough currency to buy this asset!</span>
            <span class="text-danger" v-if="errors.includes('wrong-currency')">You can't buy this asset with this type of currency!</span>
            <span class="text-danger" v-if="errors.includes('not-found')">This currency does not exist</span>
        </div>
        @*</form>*@ 
    </div>
</div>

<script src="~/js/addAsset.js" asp-append-version="true"></script>

@section Scripts {
   
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}