@using WorkPanel.Models.PortfolioViewModels
@model PortfolioViewModel
@{
    ViewData["Title"] = "Portfolio";    
}

<div class="index_body">
    <div class="row" style="padding: 30px; background: whitesmoke; margin: 0px;">
        <div id="info-section" class="col-xs-6">
            @{
                await Html.RenderPartialAsync("InfoSection");
            }
        </div>
        <div class="col-xs-6">
            <canvas id="myChart" width="400" height="300"></canvas>
        </div>
    </div>
    <br/>
    <div id="assets-div">
        @{
            await Html.RenderPartialAsync("Assets");
        }
    </div>
</div>

<div id="add-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 400px;">    
        <div class="modal-content">
            <div style="height:30px; padding: 10px;">
                <button type="button" class="close" style="margin: 10px;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("AddAsset")
            </div>
        </div>
    </div>
</div>

<div id="modal-action-info" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 400px;">    
        <div class="modal-content">          
        </div>
    </div>
</div>

<script src="~/lib/chartjs/chart.js"></script>
<script>
    var ctx = $("#myChart");
    var myChart = new Chart(ctx,
        {
            type: 'line',
            data: {
                labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "Jan", "Feb", "Mar"],
                datasets: [
                    {
                        label: 'Sample chart',
                        data: [12, 19, 3, 5, 2, 3, 6, 3, 8, 2, 2, 6, 14, 2, 6, 4, 5, 6, 2, 45, 7, 2],

                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: true
                            }
                        }
                    ]
                },
                animation: {
                    duration: 0
                },
                responsive: true
            }
        });

    function refresh1() {
        $("#assets-div").load('/Portfolio/Assets');        
    }

    function refresh2() {        
        $("#info-section").load('/Portfolio/InfoSection');
    }
    setInterval(refresh1, 3000);
    setInterval(refresh2, 3000);
    
</script>