@{
    ViewData["Title"] = "Portfolio";    
}

<div class="index_body">
    <div class="row" style="padding: 30px; background: whitesmoke; margin: 0px;">
        <div id="info-section" class="col-xs-6">
            @{
                await Html.RenderPartialAsync("InfoSection");
            }
        </div>
        <div id="chart-section" class="col-xs-6">       
            @{
                await Html.RenderPartialAsync("ChartSection");
            }
        </div>
    </div>
    <br/>
    <div id="assets-div">
        @{
            await Html.RenderPartialAsync("Assets");
        }
    </div>
</div>

<div id="add-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 400px;">    
        <div class="modal-content">
            <div style="height:30px; padding: 10px;">
                <button type="button" class="close" style="margin: 10px;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("AddAsset")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    

    <script>

        $(document).on('click',
            '.hover-tr',
            function() {
                var id = $(this).attr('id');
                if (id === "1") return;
                $("#modal").modal();
                $("#modal").load(`/Portfolio/Info/${id}`);
            });

        function refresh() {
            $("#assets-div").load('/Portfolio/Assets');
            $("#info-section").load('/Portfolio/InfoSection');
        }

        setInterval(refresh, 15000);
    </script>
}