@*@using WorkPanel.Models.PortfolioViewModels
@model PortfolioViewModel*@
@{
    ViewData["Title"] = "Portfolio";    
}

<div class="index_body">
    <div class="row" style="padding: 30px; background: whitesmoke; margin: 0px;">
        <div id="info-section" class="col-xs-6">
            @{
                await Html.RenderPartialAsync("InfoSection");
            }
        </div>
        <div class="col-xs-6">
            @*<canvas id="myChart" width="400" height="300"></canvas>*@
            <div><canvas id="lineChart" width="400" height="300"></canvas></div>
            @{ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"]; }
        </div>
    </div>
    <br/>
    <div id="assets-div">
        @{
            await Html.RenderPartialAsync("Assets");
        }
    </div>
</div>

<div id="add-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 400px;">    
        <div class="modal-content">
            <div style="height:30px; padding: 10px;">
                <button type="button" class="close" style="margin: 10px;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("AddAsset")
            </div>
        </div>
    </div>
</div>

<div id="modal-action-info" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 400px;">    
        <div class="modal-content">          
        </div>
    </div>
</div>


<script>
    
    function refresh() {
        $("#assets-div").load('/Portfolio/Assets');
        $("#info-section").load('/Portfolio/InfoSection');
    }

    setInterval(refresh, 15000);

</script>

@section Scripts {
    <script src="~/lib/chartjs/chart.js"></script>
    <script>
        @Html.Raw(chart.CreateChartCode("lineChart"));
    </script>
}