@using WorkPanel.Models.PanelViewModels
@model PanelViewModel
@{
    ViewData["Title"] = "Panel Page";    
}

<div>
    <div id="info-section" style="padding: 30px; background: whitesmoke;">
        @{
            await Html.RenderPartialAsync("ValuesPanel");
        }
    </div>
    <br/>
    <div id="investors-div">
        @{
            await Html.RenderPartialAsync("Investors");
        }
    </div>
</div>

<div id="add-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 400px;">    
        <div class="modal-content">
            <div style="height:30px; padding: 10px;">
                <button type="button" class="close" data-dismiss="modal" >&times;</button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("AddInvestor")
            </div>
        </div>
    </div>
</div>

<div id="modal-action-info" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 400px;">    
        <div class="modal-content">          
        </div>
    </div>
</div>

<script>
    $('body').on('hidden.bs.modal',
        '#modal-action-info',
        function() {
            $(this).removeData('bs.modal');
        });

      function refresh() {
        $("#investors-div").load('/Panel/Investors');
        $("#info-section").load('/Panel/ValuesPanel');
    }

    setInterval(refresh, 15000);
</script>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}