@{
    ViewData["Title"] = "Panel Page";    
}

<div>
    <div id="info-section" style="padding: 30px; background: whitesmoke;">
        @{            
            @await Component.InvokeAsync("InvestedPanel")
        }
    </div>
    <br/>
    <div id="investors-div">
        @{
            @await Component.InvokeAsync("Investors")
        }
    </div>
</div>

<div id="add-modal" class="modal fade" role="dialog">
    @await Html.PartialAsync("AddInvestor")
</div>

<script>

    $(document).on('click',
        '.hover-tr',
        function() {
            var id = $(this).attr('id');
            $("#modal").modal();
            $("#modal").load(`/Panel/Info/${id}`);
        });

    $('body').on('hidden.bs.modal',
        '#modal-action-info',
        function() {
            $(this).removeData('bs.modal');
        });

    function refresh() {
        $("#investors-div").load('/Panel/InvestorsVC');
        $("#info-section").load('/Panel/InvestedVC');
    }

    function add() {        
        $("#modal").modal();
        $("#modal").load(`/Panel/AddInvestor`);
    }

    setInterval(refresh, 15000);
</script>